version: "2"
services:
  alarmservice-acceptance-test:
    image: localhost:5000/alarmservice-acceptance-test:latest
    container_name: alarmservice-acceptance-test
    networks:
      alarmservice_network:
    depends_on:
      - alarmservice
      - nodes_setup
    links:
        - alarmservice
    entrypoint: ./wait-for-it.sh
    command: alarmservice:8080 --timeout=30 --strict -- ./entrypoint.sh